<!DOCTYPE HTML>
<html>
    <head>
        <%-include("./partials/metdata.ejs")%>
    </head>
    <body>

        <%-include("./partials/ribbon.ejs")%>

        <main>
        <section id="overview">
            <div class="contain">
                <div id="summary">
                    <h2>Taking inventory has never been this easy</h2>
                    <p>
                        SupplyCache.net makes it easy to manage and maitain your inventory supplies all on one simple interface. Whether you are looking
                        to maintain your business supply or keep track of consumables in your pantry, SupplyCache.net should be your go-to inventory management
                        system
                    </p>
                    <a class="button active" href="#">Get started</a>
                    <a class="button" href="/login">existing user</a>
                </div>
            </div>
        </section>

        <section id="features">

            <div class="contain">
                <article class="card">
                    <h3>Inventory management</h3>
                    <ul>
                        <li>Keep track of all items in inventory</li>
                        <li>Manage multiple caches under the same account</li>
                        <li>Organize items and brands</li>
                    </ul>
                </article>
                <article class="card">
                    <h3>User group settings</h3>
                    <ul>
                        <li>Allow others to view and manage inventory</li>
                        <li>Set user access permissions for inventory lists</li>
                    </ul>
                </article>
                <article class="card">
                    <h3>Shopping lists</h3>
                    <ul>
                        <li>Automatically generate shopping list based on items missing from inventory</li>
                        <li>Easily email shopping lists to yourself and your group</li>
                    </ul>
                </article>
            </div>
        </section>
        </main>
    </body>

</html>