<!-- ############################## -->
<!-- >>>>>>>>| login.ejs |<<<<<<<<< -->
<!-- ############################## -->

<!DOCTYPE HTML>
<html>
    <head>
        <%-include("./partials/metdata.ejs")%>
    </head>
    <body>
        <%-include("./partials/ribbon.ejs")%>
    </body>
</html>