* {
    padding:0;
    margin:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:200;
    box-sizing: border-box;
    z-index:0;
}

html {
    height:100%;
}

body {
    color:#007676;
    text-align:justify;
    display:flex;
    flex-direction:column;
    height:100%;
}

a {
    color:inherit;
    text-decoration: inherit;
}

main {
    width:100%;
    height:100%;
}

#banner {
    color:#ffffff;
    background-color:#FFB92C;
    height:4rem;
    border-bottom:4px solid #00000033;
    z-index:1;
}

#banner h1 {
    color:#ffffff;
    font-weight:bold;
    line-height:4rem;
    vertical-align:middle;
    font-size:2rem;
    float:left;
}

#overview {
    z-index:-6rem;
    padding:8rem 0;
    background-image:url("/images/library.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    width:100%;
    float:left;
}

#summary {
    width:60%;
    float:left;
}

#summary h2 {
    /* text-decoration:underline; */
    text-align:left;
    font-size:1.8rem;
}

#summary p{
    margin-top:1rem;
}

.contain {
    padding: 0 2rem;
    max-width:80rem;
    margin:auto;
}

.button {
    display:block;
    text-align:center;
    float:left;
    border:2px solid #007676;
    border-radius:2rem;
    padding:1rem;
    width:45%;
    max-width:15rem;
    margin-top:2rem;
    background-color:#ffffff;
    margin-right:2rem;
}

.active {
    color:#ffffff;
    background-color:#007676;
    box-shadow:0 4px #00000033;
}

.right {
    float:right;
}

.center {
    margin:auto;
    /* vertical-align:middle; */
    /* align-self:middle; */
    /* justify-self:center; */
}

#features {
    float:left;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    padding-bottom:5rem;
}

#features .card {
    width:25%;
    background-color:#FFB92C;
    float:left;
    margin-top:1rem;
    margin:3rem calc(25% / 2) 0 0;
    padding:1rem;
    color:#ffffff;
    box-shadow:8px 8px #00000033;
    text-align:left;
}

#features .card:nth-child(even) {
    color:#FFB92C;
    background-color:#ffffff;
    border:2px solid #FFB92C;
}

#features .card:nth-child(3n) {
    margin-right:0;
}

.card ul {
    padding:1rem 3rem;
    text-align:left;
}

.card ul li {
    margin-bottom:1rem;
}

#userFields {
    position:absolute;
    top:50%;
    left:50%;
    margin:auto;
    display: inline-block;
    width:auto;
    width:100%;
    max-width:40rem;
    transform:translate(-50%, -50%);
    padding:0 1rem;
}

#userFields input {
    display:block;
    border:2px solid #FFB92C;
    border-radius:5rem;
    margin-top:1.5rem;
    width:100%;
    font-size:1.5rem;
    padding:0.5rem 1rem;
    outline:none;
    box-shadow:0 4px #00000033;
}

#userFields .group {
    display:flex;
}

#userFields .group input {
    margin-right:2rem;
}

#userFields .group input:last-of-type {
    margin-right:0;
}

.sc_submit {
    background-image:none;
    background-color:#007676;
    color:#ffffff;
    border:none;
    border-radius:5rem;
    font-size:1.5rem;
    width:50%;
    max-width:15rem;
    margin-top:2rem;
    padding: 0.5rem 1rem;
    box-shadow:0 4px #00000033;
}

.sc_submit:hover {
    box-shadow:0 3px #00000033;
    transform: translate(0, 1px);
}

.sc_submit:focus {
    box-shadow:none;
    transform:translate(0, 4px);
}

.login_redirect {
    color:#aaaaaa;
    border-top:2px solid #aaaaaa;
    margin-top:3rem;
    text-align:right;
}

@media screen and (max-width: 1080px) {

    #features .card {
        width:45%;
        margin:10% 10% 0 0;
    }

    #summary {
        width:100%;
    }

    #features .card:nth-child(2n) {
        margin-right:inherit;
    }
    #features .card:nth-child(3n) {
        margin-right:inherit;
    }
}

@media screen and (max-width:720px) {

    #features .card {
        width:100%;
    }
}